* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  background-color: #0b1320;
  color: white;
  width: 100%;
  min-height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 410px) and (max-width: 900px) {
  .grid-container {
    padding-left: 7%;
    grid-column-gap: 20px;
  }
}

@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 400px) {
  .grid-container {
    padding-left: 7%;
  }
}

img {
  width: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
}

a {
  text-decoration: none;
  color: #d82b00;
}

.heading {
  text-align: center;
  line-height: 36px;
}

.heading h2 {
  padding-top: 100px;
  font-weight: 700;
}

.heading p {
  font-weight: 500;
}

@media (max-width: 900px) {
  .heading p {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.grid-container div h3 {
  padding-bottom: 10px;
}

.grid-container div p {
  line-height: 1.5;
  width: 20rem;
  padding-bottom: 20px;
}

.grid-container div a {
  font-weight: 800;
}
